{% extends 'main/base_header.html' %}
{% block styles %}
    <link rel="stylesheet" href="../../static/main/css/login_page.css">
{% endblock %}
{% block content %}
<div class="container-fluid d-flex justify-content-center align-items-center mt-300">
    <div class="row bg-white shadow-sm">
        <div class = "login" >
            <h1 class="text-center">ВХОД</h1>
            <form method="POST" class="text-center">
                {% csrf_token %}
                <div class="form_group">
                    <label class="form-label" for="phone">Номер телефона</label>
                    <input class="form-control"  id="phone" name="username">
                </div>

                <div class="form_group">
                    <label class="form-label" for="password">Пароль</label>
                    <input class="form-control" id="password" name="password">
                </div>

                <input class="btn btn-success w-100 bg-white text-dark" type="submit" value="ВОЙТИ">
                <span class="text">Или</span>
                <input type="submit" class="btn btn-success w-100 bg-white text-dark mt-4">

            </form>
        </div>
   </div>
</div>
{% endblock %}
