{% extends 'main/base_header.html' %}


{% block content %}
<div class="content">
    <div class="row">
        <img alt="..." class="rounded float-start" src="../../static/main/images/main_photo_1.png">
    </div>
    <div class="row">
        <img alt="..." class="rounded float-start" src="../../static/main/images/main_photo_2.png">
    </div>
    <div class="row">
        <img alt="..." class="rounded float-start" src="../../static/main/images/main_photo_3.png">
    </div>
</div>
{% endblock %}