{% extends 'main/base_header.html' %}
    {% block styles %}
        <link rel="stylesheet" href="../../static/main/css/register_page.css">
    {% endblock %}

{% block content %}
<div class="container-fluid d-flex justify-content-center align-items-center mt-300">
    <div class="row my-row bg-white shadow-sm">
        <div class = "login" >
            <h1 class="text-center">РЕГИСТРАЦИЯ</h1>
            <form method="POST">
                {% csrf_token %}
                {{form.errors}}
                <div class="form_group">
                    <label class="form-label" for="phone">Номер телефона</label>
                    <input class="form-control" id="phone" name="phone">
                </div>

                <div class="form_group">
                    <label class="form-label" for="passport_ID">Номер паспорта</label>
                    <input class="form-control" id="passport_ID" name="passport_ID">
                </div>


                <div class="form_group">
                    <label class="form-label" for="passport_Series">Серия паспорта</label>
                    <input class="form-control" id="passport_Series" name="passport_Series">
                </div>

                <div class="form_group">
                    <label class="form-label" for="password1">Пароль</label>
                    <input class="form-control" id="password1" name="password1">

                </div>

                <div class="form_group">
                    <label class="form-label" for="password2">Введите пароль ещё раз</label>
                    <input class="form-control" id="password2" name="password2">
                </div>


                <input class="btn btn-success w-100 bg-white text-dark mt-4" type="submit" value="Зарегистрироваться">


                </div>
            </form>
        </div>
       </div>
    </div>
</div>
{% endblock %}
